* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background: #fff;
  color: #000;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
.wrap {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
}

.theme-dark {
  background: #02111b;
  color: #fff;
}
.theme-dark header {
  background: #02111b;
}
.theme-dark header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
  font-size: 0.9rem;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: block;
  width: 150px;
  line-height: 0;
}
.logo img {
  display: block;
  width: 150px;
  height: auto;
  filter: invert(1);
  mix-blend-mode: screen;
}
.theme-dark nav {
  display: flex;
  gap: 32px;
  font-weight: 500;
}
.header-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
  font-weight: 600;
}
.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: #fff;
  font-weight: 600;
}
.btn-search img {
  display: block;
  width: 40px;
  height: 40px;
  filter: brightness(0) invert(1);
}

/* hero section styles */
.hero-grid-sec {
  padding: 60px 0;
}
.hero-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.item-text {
  grid-column: 1 / 3;
  padding-bottom: 40px;
}
.item-text h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 24px;
}
.item-text p {
  max-width: 90%;
  margin-bottom: 24px;
  color: #e0e4e8;
  font-size: 1.1rem;
}
.btn-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1.8rem;;
}
.btn-circle:hover {
  background: hsla(216, 100%, 52%, 0.4);
}
